@charset "utf-8";
/**
 * [gradient] : 背景透明度，不影响字体
 *
 * @param  {[color]} 		$bgColor         [色值，如：'#ff6600']
 * @param  {[Number]} 		$bgOpacity       [透明度，如：0.8 = 80%]
 * @param  {[Boolean]} 		$compatible 	 [是否兼容IE8]
 */

@mixin gradient($bgColor, $bgOpacity, $compatible:false) {
    background-color: rgba($bgColor, $bgOpacity);
    // ie8 -
    @if $compatible {
        :root & {
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str(rgba($bgColor,$bgOpacity))}, endColorstr=#{ie-hex-str(rgba($bgColor,$bgOpacity))});
        }
    }
}

/**
 * [opacity] : 透明度，影响字体
 * @param  {[Number]} 		$opacity          [透明度，如：0.8 = 80%]
 * @param  {[Boolean]} 		$compatible 	  [是否兼容IE7]
 */
@mixin opacity($opacity, $compatible:false) {
    opacity: $opacity;
    @if $compatible {
        $opacity-ie: $opacity * 100;
        filter: alpha(opacity=$opacity-ie); //IE8
    }
}


/**
 * [position] : 定位,顺时针的四个参数，若要跳过，则输入false
 * @param  {[Number,Pixel]}	$top
 * @param  {[Number,Pixel]}	$right
 * @param  {[Number,Pixel]}	$bottom
 * @param  {[Number,Pixel]}	$left
 */
@mixin position($top:false,$right:false,$bottom:false,$left:false){
	@if $top{
		top: $top;
	}
	@if $right{
		right: $right;
	}
	@if $bottom{
		bottom: $bottom;
	}
	@if $left{
		left:$left;
	}
}



/**
 * [user-select]   手机端长按发生系统事件（常用于禁止复制）
 * @param {[String]} $select [对应取值：none，text，all，element]
 */
@mixin user-select($select:none){
    -webkit-touch-callout: $select;
    -webkit-user-select: $select;
    -khtml-user-select: $select;
    -moz-user-select: $select;
    -ms-user-select: $select;
    user-select: $select;
}


