@charset "utf-8";
/**
 * [mobile-font-init] : 移动端字体初始化设置
 *
 * #example :
 *
 * 例如750px设计稿上320px*200px字体大小为32px的区域样式为：
 *
 * .div_ex{ width:3.2rem; height:2rem; font-size:0.32rem }
 *
 * 更多例子请查看 /examples/index.html
 *
 */

@mixin mobile-font-init() {
    html {
        font-size: 312.5%;
    }
    @media screen and (max-width:359px) and (orientation:portrait) {
        html {
            font-size: 266.67%;
        }
    }
    @media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
        html {
            font-size: 300%;
        }
    }
    @media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
        html {
            font-size: 320%;
        }
    }
    @media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
        html {
            font-size: 333.33%;
        }
    }
    @media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait) {
        html {
            font-size: 345%;
        }
    }
    @media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait) {
        html {
            font-size: 360%;
        }
    }
    @media screen and (min-width:480px)and (max-width:639px) and (orientation:portrait) {
        html {
            font-size: 400%;
        }
    }
    @media screen and (min-width:640px) and (orientation:portrait) {
        html {
            font-size: 533.33%;
        }
    }
}


/**
 * [ellipsis] : 文本超出用「...」代替
 */

@mixin ellipsis() {
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
 * [movie-fluid]   响应式视频
 */
@mixin movie-fluid() {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/**
 * [abs-center]   移动端不定宽高元素水平垂直居中于最近的position:relative父元素，不传$offset则占据父元素宽高
 * @param {[Number,Pixel]} $offset [子元素与父元素边距，如：10px]
 */
 @mixin abs-center($offset: 0){
    display: block;
    position: absolute;
    top: $offset;
    left: $offset;
    right: $offset;
    bottom: $offset;
 }


