@charset "utf-8";
/**
 * css-helpers 入口文件
 */

@import "core";

@import "widget";

@import "animate";



/**
 * examples/index.html
 */
@include mobile-font-init();


/**
 * examples/widget.html
 */

*{
	margin:0;
	padding: 0;
	font-size: 14px;
	line-height: 1em;
}

.box{
	position: relative;
	width: 80%;
	margin: 10px auto;
	min-height: 100px;
	@include gradient(#000000,.6);
}

/**abs-center实例***********************/
.abs-center{
	background: #fff;
	@include abs-center(20px);
}

/**btn实例***********************/
.btn{
	@include btn(120px,40px,5px,16px,#fff,#f86288);
}

/**triangle实例***********************/
.triangle{
	width: 140px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	border: 1px solid #aaa;
	&.default{
		@include triangle();
	}
	&.up{
		@include triangle('up');
	}
	&.right{
		@include triangle('right');
	}
	&.down{
		@include triangle('down');
	}
	&.left{
		@include triangle('left');
	}
}

/**loading1实例***********************/
#loading1{
	@include loading1(50%,30px,70%);
}
@include kf-loading1(70%);

#loading2{
	@include loading2();
}